<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create event</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Event</h4>
        </div>
        <div class="modal-body">
          <%= form_for( :event, url: events_path) do |f| %>
  
  <p>
    Event<br />
    <%= f.text_field :event_title %>
  </p>
  <p>
  Venu<br/>
    <%= f.text_field :venu %>
  </p>
  <p>
  Date  <br />
    <%= f.date_field :date %>
  </p>
  <p>
  Description <br />
    <%= f.text_field :description %>
  </p>
  <p>
    Invited<br />
    <%= f.text_field :invitee %>
  </p>
  <p>
    Status<br />
    <%= f.text_field :status %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
  </div>
</div>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

		